/* body {
    background-color:  purple;
} */
/* 
h2 {
    color:greenyellow;
    background-color: purple;

} */

body {
    background-color:  rgb(240, 245, 239);
}

h1 {
    background-color: rgba(234, 186, 186, 0.7);
}