/* * {
    text-decoration: underline magenta wavy;
    border: 2px solid hsl(180, 100%, 50%, 0.5);
}
this will select all text, it is not commonly used because we normally do not want all text to be the same. */

#logo {
    width: 75px;
}

img {
    width: 300px;
}
h1 {
    color: purple;
}

h2 {
    color: teal;
}

.poem{
    width: 500px;
    color: gray;
    
}

.poem p {
    font-style: italic;
}

h2 + h3 {
    color: orange;
}

.poem + img {
    width: 990px;
}

#works li {
    font-size: 15px;
}
#works > li {
    font-size: 1.5em;
}

.poem > p {
    color: rgb(12, 12, 12);
    font-style: normal;
}

nav a:hover {
    color:rgb(111, 236, 102);
    text-decoration: underline;
}
input:focus {
    background-color: pink;
}

/* .poem section p::first-letter {
    font-size: 2em;
    color: rgb(255, 0, 13);
} */


.poem section p:first-of-type::first-letter {
    font-size: 2em;
}

input:focus::placeholder {
    color: rgb(13, 159, 221);
}


/* attribute selectors  the type=text is common but the *= not really unless you need it*/
input[type="text"] {
    background-color: rgb(255, 255, 0);
}

img[src*="unsplash"] {
    width: 550px
}

