
body{
    align-items: center;
    background-color: #08c9e7;
}

button{
    padding: 20px;
    background-color: rgb(61, 46, 46);
    color: rgb(14, 14, 14);
    border-radius: 12px;
    border: none;
    display: none;
    margin: 0 auto;
}

button:hover{
    cursor: hand;
    background-color: rgb(224, 193, 22);
}
button:active,
button:focus{
    outline: none;
}

#card-area{
    margin-top: 80px;
}
#card-area > img{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
